
      .overlay {
        fill: none;
        pointer-events: all;
      }
      button {
        padding: 10px 20px;
      }
      div.tooltip{
        position: absolute;
        text-align: : center;
        width: 100px;
        height: 28px;
        padding: 2px;
        font: 12px sans-serif;
        background: #008AB8;
        border: 0px;
        border-radius: 6px;
        pointer-events: none;
      }
      .axis path,
      .axis line{
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }

      .axis text {
        font-family: sans-serif;
        font-size: 11px;
      }
